<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vertical (basic) form</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="Name">
    </div>
    <div class="form-group">
      <label for="profession">Current Profession:</label>
      <input type="text" class="form-control" id="profession" placeholder="Developer,Founder,CEO or Others" name="current role">
    </div>
    <div class="form-group">
        <label for="Want">Want to be:</label>
        <input type="text" class="form-control" id="want" placeholder="Developer,Founder,CEO or Others" name="want">
      </div>
      <div class="form-group">
        <label for="atage">At age :</label>
        <input type="number" class="form-control" id="atage" placeholder="Enter the age when you planning" name="Atage">
      </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
